.react-calendar {
   width: 33rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 1.1rem;
   padding: 1rem;
   box-shadow: 0px 0px 20px -5px grey;
   border: none;
   border-radius: .8rem;
   font-family: system-ui;
}