@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

#container-todo {
   color: #fff;
   font-family: 'Poppins', sans-serif;
   width: 500px;
}

.list-group-item {
   color: #fff;
   background-color: #dc89b3;
   height: 60px;
}

.btnOkay {
   order: -10;
   background-color: #073c8a;
   color: #fff;
}

.btnOkay:hover {
   background-color: #157347;
}